# pred.gg Application credentials
# Crear la aplicacion en: https://pred.gg/settings/applications
PREDGG_APP_ID=HiDUme4
PREDGG_CLIENT_ID=l5vdyvqawgovh2qptnumwrsb11ufanyf

# Scope para la mutation authorize (valor a confirmar con pred.gg)
# Probar con: public, read, openid
PREDGG_SCOPE=public
